#h2{
    color:deepskyblue;
}
img{
    border-radius: 50%;
}
.Dip h2  {
color:deepskyblue;

}
.Dip p{
	color:#7f8c8d;
}
.exp h2{
    color:deepskyblue;
}
.cord{
    margin-left: 60%;
    margin-top: -150px;
  
}
.info{
    margin-left: 60%;
    margin-top: -150px;
}
#cord{
	color:#7f8c8d;
}
#info{
	color:deepskyblue;
}
.Dip{
    margin-top: -850px;
}
#c{
	   color:deepskyblue;
}
.comm{
	color:#7f8c8d;
	
}
.container1 {
    width: 30%; 
    background-color: #ddd; 
  }
  
  .skills {
    text-align: right; 
    padding-top: 0.1 px; 
    padding-bottom: 0.1 px ; 
    color: white; 
  }
  .m1 {width: 80%; background-color: deepskyblue;} 
  .m2 {width: 90%; background-color: deepskyblue;} 
  .m3 {width: 85%; background-color: deepskyblue} 
  .m4 {width: 90%; background-color: deepskyblue;} 
  .m5 {width: 90%; background-color: deepskyblue;}
  .m6 {width: 90%; background-color: deepskyblue;}  

.container {
  width: 30%; 
  background-color: #ddd; 
}

.skills {
  text-align: right; 
  padding-top: 0.1 px; 
  padding-bottom: 0.1 px ; 
  color: white; 
}
.em {width: 80%; background-color: deepskyblue;} 
.cms {width: 90%; background-color: deepskyblue;} 
.om {width: 85%; background-color: deepskyblue} 
.tm {width: 90%; background-color: deepskyblue;} 
